/**
 * 6.0 - Components
 */

/**
   * 6.3 - Social
   */

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.social li {
  display: inline-block;
  margin: 5px 15px;
}

.social li a {
  width: 45px;
  height: 45px;
  position: relative;
  display: inline-block;
  background-color: transparent;
  -webkit-transition: -webkit-transition, background-color 0.25s linear 0s;
  -moz-transition: -moz-transition, background-color 0.25s linear 0s;
  transition: transition, background-color 0.25s linear 0s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.social li a:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.social li a,
.social li a .icon {
  line-height: 45;
}

.social li a .icon {
  color: #fff;
  font-size: 20px;
  line-height: 45px;
  display: block;
}

@media (max-width: 767px) {
  .social li {
    margin-left: 5px;
    margin-right: 5px;
  }
  .social li a {
    width: 35px;
    height: 35px;
  }
  .social li a,
  .social li a .icon {
    line-height: 35px;
  }
  .social li a .icon {
    font-size: 17px;
  }
}

/**
   * 6.4 - Pagination
   */

.pagination {
  margin-top: 30px;
  text-align: center;
}

.pagination .page-numbers {
  color: #444;
  min-width: 35px;
  height: 35px;
  margin: 0 2px;
  padding: 0 3px;
  font-size: 15px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  background-color: transparent;
  box-shadow: none;
  -webkit-transition: -webkit-transition, all 0.2s linear 0s;
  -moz-transition: -moz-transition, all 0.2s linear 0s;
  transition: transition, all 0.2s linear 0s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.pagination .page-numbers.current,
.pagination .page-numbers.current:hover {
  color: #fff !important;
  box-shadow: none;
}

.pagination .page-numbers.next,
.pagination .page-numbers.prev {
  color: #444;
  background-color: transparent;
}

.pagination .page-numbers.next .icon,
.pagination .page-numbers.prev .icon {
  font-size: 20px;
  line-height: 35px;
}

.pagination .page-numbers:hover,
.pagination .page-numbers.next:hover,
.pagination .page-numbers.prev:hover {
  text-decoration: none;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
}

.pagination .page-numbers:active,
.pagination .page-numbers.next:active,
.pagination .page-numbers.prev:active {
  color: #fff !important;
}

/**
   * 6.5 - Custom Scroll
   */

.mCSB_inside > .mCSB_container {
  margin-right: 15px;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #3d4451;
  background-color: rgba(61, 68, 81, 0.75);
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #3d4451;
  background-color: rgba(61, 68, 81, 0.85);
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #3d4451;
  background-color: rgba(61, 68, 81, 0.9);
}

/**
   * 6.6 - Video & Audio Player
   */

.mejs-overlay-loading {
  background: transparent;
}

.mejs-container.mejs-video {
  overflow: hidden;
}

.mejs-container .mejs-controls {
  height: 40px;
  background: #efefef;
}

.mejs-container .mejs-controls:before,
.mejs-container .mejs-controls:after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #dfdfdf;
}

.mejs-container .mejs-controls:before {
  left: 0;
  top: 0;
}

.mejs-container .mejs-controls:after {
  left: 0;
  bottom: 0;
}

.mejs-container .mejs-controls div,
.mejs-container .mejs-controls a.mejs-horizontal-volume-slider {
  height: 40px;
}

.mejs-container
  .mejs-controls
  .mejs-horizontal-volume-slider
  .mejs-horizontal-volume-current,
.mejs-container
  .mejs-controls
  .mejs-horizontal-volume-slider
  .mejs-horizontal-volume-total,
.mejs-container .mejs-controls .mejs-time-rail span,
.mejs-container .mejs-controls .mejs-time-rail a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.mejs-container .mejs-controls .mejs-button button {
  margin-top: 11px;
  margin-bottom: 11px;
}

.mejs-container .mejs-controls .mejs-button button:focus {
  outline: none;
}

.mejs-container .mejs-controls .mejs-playpause-button {
  width: 35px;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}

.mejs-container .mejs-controls .mejs-playpause-button button {
  margin-left: 8px;
  margin-right: 8px;
}

.mejs-container .mejs-controls .mejs-time {
  color: #909090;
  padding: 14px 7px 0;
}

.mejs-container .mejs-controls .mejs-volume-button {
  border-left: 1px solid #dfdfdf;
}

.mejs-container .mejs-controls .mejs-fullscreen-button,
.mejs-container .mejs-controls .mejs-horizontal-volume-slider {
  float: right;
  border-right: 1px solid #dfdfdf;
}

.mejs-container .mejs-controls .mejs-time-rail {
  padding-top: 11px;
}

.mejs-container .mejs-controls .mejs-time-rail .mejs-time-slider,
.mejs-container .mejs-controls .mejs-time-rail .mejs-time-buffering,
.mejs-container .mejs-controls .mejs-time-rail .mejs-time-loaded,
.mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,
.mejs-container .mejs-controls .mejs-time-rail .mejs-time-handle {
  height: 8px;
}

.mejs-container .mejs-controls .mejs-time-rail .mejs-time-total {
  background: #3e4452;
  margin-left: 8px;
  margin-right: 8px;
}

.mejs-container .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: #737780;
}

.mejs-container .mejs-controls .mejs-time-rail .mejs-time-float-corner {
  display: none;
}

.mejs-container
  .mejs-controls
  .mejs-horizontal-volume-slider
  .mejs-horizontal-volume-total,
.mejs-container
  .mejs-controls
  .mejs-horizontal-volume-slider
  .mejs-horizontal-volume-current {
  top: 16px;
}

.mejs-container
  .mejs-controls
  .mejs-horizontal-volume-slider
  .mejs-horizontal-volume-total {
  background: #3d4550;
}
