/**
  * 3.0 - Form
  */

button,
input[type="submit"] {
  cursor: pointer;
}

select,
textarea,
input[type="tel"],
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 1.42857143;
  width: 100%;
  display: block;
  padding: 6px 12px;
  background: transparent;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
}

select,
input[type="tel"],
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  height: 34px;
}

textarea {
  resize: none;
}

::-webkit-input-placeholder {
  color: #333;
}

:-moz-placeholder {
  color: #333;
}

::-moz-placeholder {
  color: #333;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #333;
}

.input-field {
  position: relative;
  margin-bottom: 30px;
}

.input-field input,
.input-field textarea {
  font-size: 16px;
  line-height: 16px;
  padding: 10px 0;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  border-radius: 0;
}

.input-field label {
  top: 10px;
  left: 0;
  color: #333;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  pointer-events: none;
  -webkit-transition: 0.15s ease all;
  -moz-transition: 0.15s ease all;
  transition: 0.15s ease all;
}

.input-field .line {
  position: relative;
  display: block;
  width: 100%;
}

.input-field .line:before,
.input-field .line:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  -webkit-transition: 0.15s ease all;
  -moz-transition: 0.15s ease all;
  transition: 0.15s ease all;
}

.input-field .line:before {
  left: 50%;
}

.input-field .line:after {
  right: 50%;
}

.input-field input:focus,
.input-field textarea:focus {
  outline: none;
}

.input-field.used label {
  top: -15px;
  font-size: 11px;
}

.input-field.used .line:before,
.input-field.used .line:after {
  width: 50%;
}

.input-field.error label {
  color: #c00 !important;
}

.input-field.error input,
.input-field.error textarea {
  border-bottom: 1px solid #c00 !important;
}

.input-field.error .line:before,
.input-field.error .line:after {
  background-color: #c00 !important;
}
