
/**
     * Icons List
     */

     .rs-icons-list {
        list-style: none;
        margin: 0 0 25px 0;
        padding: 0;
      }
      
      .rs-icons-list li {
        float: left;
        width: 16.6666%;
        float: left;
        height: 150px;
        background-color: rgba(0, 0, 0, 0.1);
        border: 2px solid #fff;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
      }
      
      .rs-icon {
        font-size: 42px;
        display: block;
        margin-bottom: 5px;
      }
      
      .rs-icon-class {
        font-size: 11px;
        display: block;
      }
      
      @media (max-width: 992px) {
        .rs-icons-list li {
          width: 25%;
        }
      }
      
      @media (max-width: 767px) {
        .rs-icons-list li {
          width: 33.33%;
        }
      }
      
      @media (max-width: 480px) {
        .rs-icons-list li {
          width: 50%;
        }
      }
      