 a,
 blockquote:before,
 .contact-map .contact-info a:hover,
 .interests-list i,
 .input-field.used label,
 .logo span,
 #map .map-icon,
 .nav-wrap .btn-mobile-nav,
 .page-404 h2 span,
 .post-box .post-title a:hover,
 .post-single .post-title a:hover,
 .post-comments .section-title,
 .ref-box .person-speech:before,
 .timeline-box .date,
 .widget-title,
 .widget_meta ul li a:hover,
 .widget_archive ul li a:hover,
 .widget_nav_menu ul li a:hover,
 .widget_categories ul li a:hover,
 .widget_recent_entries ul li a:hover,
 .widget_recent_comments ul li a:hover,
 .widget_search .search-form:before,
 .widget-popuplar-posts .post-title a:hover,
 .widget-recent-posts .post-title a:hover {
  color: var(--primary-color); }
 ins,
 mark,
 .btn-primary,
 .btn-primary-outer,
 .btn-sidebar-close,
 .calendar-busy .calendar-body td .current-day,
 .calendar-busy .calendar-today .date,
 .filter .active:after,
 .filter-bar .filter-bar-line,
 .input-field .line:before,
 .input-field .line:after,
 .mobile-nav,
 .nav > ul > li > a > span,
 .post-datetime,
 .profile-social,
 .profile-preword span,
 .progress-bar .bar-fill,
 .progress-bar .bar-line:after,
 .price-box.box-primary .btn,
 .price-box.box-primary .price-box-top,
 .profile-list .button,
 .pagination .page-numbers.current,
 .pagination .page-numbers.current:hover,
 .pagination .page-numbers:active,
 .pagination .page-numbers.next:active,
 .pagination .page-numbers.prev:active,
 .timeline-bar,
 .timeline-box .dot,
 .timeline-box-compact .date span,
 .widget_tag_cloud a:hover {
  background-color: var(--primary-color); }
 .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,
 .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: var(--primary-color); }
 .timeline-box-inner,
 .price-box.box-primary .btn,
 .widget_search .search-form,
 .widget_tag_cloud a:hover {
  border-color: var(--primary-color); }
 .page-404 h2 span:before,
 .profile-preword span:before,
 .timeline-box-compact .date span:before {
  border-left-color: var(--primary-color); }
 .price-box.box-primary .price-box-top:before {
  border-top-color: var(--primary-color); }
