@import 'tailwindcss';
@import './componets.css';

@theme {
  --color-primary: #1a77d4;
}
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-normal m-0 mb-[25px] leading-[1.1];
  }

  h1 {
    @apply text-[36px];
  }

  h2 {
    @apply text-[26px];
  }

  h3 {
    @apply text-[24px];
  }

  h4 {
    @apply text-[22px];
  }

  h5 {
    @apply text-[18px];
  }

  h6 {
    @apply text-[16px];
  }

  b,
  strong {
    @apply font-bold;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    @apply mt-0;
  }
}

:root {
  --primary-color: #1a77d4;
}

body {
  margin: 0;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-feature-settings: 'rlig', 'calt';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ul-info {
  text-align: center;
}

.vsvim {
  width: 66px !important;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:hover,
*:focus,
*:active {
  outline: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

/* ol,
ul {
  list-style: none;
} */

/* .timeline-box-inner > * {
  text-align: center;
} */
code {
  font-size: 0.9em;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}

a img {
  border: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  word-break: break-word;
  word-wrap: break-word;
  color: #1a77d4;
}

a:hover {
  text-decoration: underline;
}
