@import 'tailwindcss';

@theme {
  --color-primary: #1a77d4;
}

:root {
  --primary-color: #1a77d4;
}

.squircle {
	clip-path: url(#SquircleClip);
}

body {
  margin: 0;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-feature-settings: 'rlig', 'calt';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ul-info {
  text-align: center;
}

.vsvim {
  width: 66px !important;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:hover,
*:focus,
*:active {
  outline: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

blockquote,
q {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}

a img {
  border: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  word-break: break-word;
  word-wrap: break-word;
  color: #1a77d4;
}

a:hover {
  text-decoration: underline;
}
