body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  

.title-icon {
    margin-top: 10px;
}

.icon-info {
    /* border-width: 1px;
    border-style: solid; */
    /* border-color: rgb(170, 170, 170); */
    /* border-image: initial; */
    color: rgb(4, 135, 204);
}

.li-info>a {
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    transition: all 0.2s ease 0s;
}

.icon-info {
    background-color: rgb(238, 238, 238);
    color: rgb(4, 135, 204);
    border-radius: 4px;
}

.icon-info:hover {
    box-shadow: rgb(4, 135, 204) 0px 0px 3px;
    /* border-color: rgb(4, 135, 204); */
    background-color: rgb(4, 135, 204);
    /*rgb(167, 202, 221); */
    color: rgb(238, 238, 238);
}

ul.ul-info li {
    display: inline;
    padding-left: 12px;
}

.profile-university {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 0;

    color: #3d4451;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dedede;
}

.contact-item {
    padding-right: 12px;
}

.profile-social {
    text-align: center;
}

.interests-list>li {
    padding: 10px;
}

.footer {
    text-align: center;
}

.logoStyle {
    height: 150px;
    float: center;
    margin-bottom: 20px;
}

.icon-info svg {
    vertical-align: -30%;
}

svg.icon>path {
    fill: #1a77d4;
}

.icon-info:hover svg>path {
    fill: rgb(238, 238, 238);
}

svg.icon {
    max-width: 20px;
    height: 20px;
    display: inline-block;
    font-size: 1.33333333em;
    line-height: .9em;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.arrowcircle > path{
    fill: #c8c8c8;
}