
.portfolio-figure .portfolio-caption {
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    opacity: 0;
    position: absolute;
    background-color: rgba(32, 39, 52, 0.8);
    -webkit-transition: opacity 0.35s linear 0s;
    -moz-transition: opacity 0.35s linear 0s;
    transition: opacity 0.35s linear 0s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .portfolio-figure .portfolio-caption-inner {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5%;
    position: absolute;
    -webkit-transition: -webkit-transform 0.35s;
    -moz-transition: -moz-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .portfolio-figure .portfolio-title,
  .portfolio-figure .portfolio-cat {
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    -moz-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .portfolio-figure .portfolio-title {
    color: #fff;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 13px;
  }
  
  .portfolio-figure .portfolio-cat {
    color: #a7a9ab;
    font-size: 13px;
    line-height: 1.1;
    text-transform: uppercase;
  }
  
  .portfolio-figure .btn-group a {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    background: transparent;
    border: 1px solid #767475;
    border: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: -webkit-transform 0.35s;
    -moz-transition: -moz-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    -moz-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .portfolio-figure .btn-group a:hover {
    text-decoration: none;
  }
  
  .portfolio-figure .btn-group .icon {
    display: block;
    line-height: 50px;
    font-size: 25px;
  }
  
  .portfolio-figure:hover img {
    opacity: 0.85;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    -moz-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  
  .portfolio-figure:hover .portfolio-caption,
  .portfolio-figure:hover .portfolio-title,
  .portfolio-figure:hover .portfolio-cat {
    opacity: 1;
  }
  
  .portfolio-figure:hover .portfolio-caption-inner {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .portfolio-figure:hover .btn-group a {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .portfolio-figure:hover .btn-group .btn-zoom {
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  .portfolio-figure:hover .btn-group .btn-link {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  
  @media (max-width: 767px) {
    .filter-bar {
      display: none;
    }
    .filter-inner {
      display: block;
    }
    .filter button {
      width: 100%;
      margin: 0;
      padding: 10px 0;
      display: block;
      border-bottom: 1px solid #d7dbde;
      position: relative;
    }
    .filter .active:after {
      content: "";
      left: 0;
      bottom: -1px;
      height: 3px;
      width: 100%;
      position: absolute;
    }
    .grid .grid-item,
    .grid .grid-sizer {
      width: 50%;
    }
    .grid .size11,
    .grid .size22 {
      width: 50%;
    }
    .grid .size11 .portfolio-title,
    .grid .size22 .portfolio-title {
      font-size: 18px;
    }
  }
  
  @media (max-width: 480px) {
    .grid .grid-item,
    .grid .grid-sizer {
      width: 100%;
    }
    .grid .size11,
    .grid .size22 {
      width: 100%;
    }
    .grid .size11 .portfolio-title,
    .grid .size22 .portfolio-title {
      font-size: 22px;
    }
  }
  
  .fancybox-portfolio .fancybox-error {
    background: #fff;
    margin-right: 70px;
    min-height: 225px;
  }
  
  .fancybox-portfolio .fancybox-skin {
    box-shadow: none;
    background-color: transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
  
  .fancybox-portfolio .fancybox-nav,
  .fancybox-portfolio .fancybox-close {
    left: auto;
    right: 0px;
    width: 45px;
    height: 45px;
    border: 1px solid #767475;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  
  .fancybox-portfolio .fancybox-nav:hover,
  .fancybox-portfolio .fancybox-close:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  }
  
  .fancybox-portfolio .fancybox-close,
  .fancybox-portfolio .fancybox-prev span,
  .fancybox-portfolio .fancybox-next span {
    background-image: url("img/fancybox_sprite.png");
  }
  
  .fancybox-portfolio .fancybox-close {
    top: 0;
    background-position: -91px 0px;
  }
  
  .fancybox-portfolio .fancybox-nav span {
    top: 0;
    left: 0;
    margin: 0;
    right: auto;
    width: 100%;
    height: 100%;
    visibility: visible;
  }
  
  .fancybox-portfolio .fancybox-prev {
    top: 127px;
  }
  
  .fancybox-portfolio .fancybox-prev span {
    background-position: -1px 0px;
  }
  
  .fancybox-portfolio .fancybox-next {
    top: 180px;
  }
  
  .fancybox-portfolio .fancybox-next span {
    background-position: -46px 0px;
  }
  
  .fancybox-inline-box {
    width: 730px;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    position: relative;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 65px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  
  .fancybox-inline-box.opened {
    height: 100%;
    min-height: 225px;
    opacity: 1;
    visibility: visible;
  }
  
  .fancybox-inline-box .inline-cont {
    padding: 25px 40px;
  }
  
  .fancybox-inline-box .inline-title {
    color: #000;
    font-size: 20px;
    line-height: 1.25;
    margin-bottom: 20px;
  }
  
  .fancybox-inline-box .inline-text {
    color: #757575;
    font-size: 16px;
    line-height: 1.3;
  }
  
  .fancybox-inline-box .inline-text p {
    margin-bottom: 15px;
  }
  
  .fancybox-inline-box .inline-text p:last-child {
    margin-bottom: 0;
  }
  
  .fancybox-inline-box .inline-embed-image {
    width: 100%;
  }
  
  .fancybox-inline-box .inline-embed-image img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .fancybox-inline-box .inline-embed-iframe,
  .fancybox-inline-box .inline-embed-video {
    width: 100%;
    height: 410px;
  }
  
  .fancybox-inline-box .inline-embed-iframe iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
  
  .fancybox-inline-box .mejs-poster,
  .fancybox-inline-box .mejs-container,
  .fancybox-inline-box .mejs-overlay-play,
  .fancybox-inline-box .inline-embed video {
    width: 100% !important;
    height: 100% !important;
  }
  
  @media only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2 / 1),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {
    .fancybox-portfolio .fancybox-nav span,
    .fancybox-portfolio .fancybox-close {
      background-image: url("img/fancybox_sprite@2x.png");
      background-size: 135px 45px;
    }
  }
  
  @media (max-width: 992px) {
    .fancybox-inline-box {
      width: 650px;
    }
    .fancybox-inline-box .inline-embed-iframe,
    .fancybox-inline-box .inline-embed-video {
      height: 360px;
    }
  }
  
  @media (max-width: 767px) {
    .fancybox-portfolio .fancybox-error {
      background: #fff;
      margin-right: 0;
      min-height: 0px;
    }
    .fancybox-portfolio .fancybox-nav,
    .fancybox-portfolio .fancybox-close {
      width: 30px;
      height: 30px;
    }
    .fancybox-portfolio .fancybox-close {
      top: -40px;
      right: 0;
      background-position: -99px -8px;
    }
    .fancybox-portfolio .fancybox-prev {
      top: -40px;
      left: 0;
      right: auto;
    }
    .fancybox-portfolio .fancybox-prev span {
      background-position: -9px -8px;
    }
    .fancybox-portfolio .fancybox-next {
      top: -40px;
      left: 40px;
      right: auto;
    }
    .fancybox-portfolio .fancybox-next span {
      background-position: -53px -8px;
    }
    .fancybox-inline-box {
      margin-right: 0;
      width: 420px;
    }
    .fancybox-inline-box .inline-embed-iframe,
    .fancybox-inline-box .inline-embed-video {
      height: 230px;
    }
    .fancybox-inline-box .inline-cont {
      padding: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .fancybox-inline-box {
      width: 350px;
    }
    .fancybox-inline-box .inline-embed-iframe,
    .fancybox-inline-box .inline-embed-video {
      height: 187px;
    }
  }
  
  @media (max-width: 360px) {
    .fancybox-inline-box {
      width: 250px;
    }
    .fancybox-inline-box .inline-embed-iframe,
    .fancybox-inline-box .inline-embed-video {
      height: 150px;
    }
  }
  
  /**
   * 11.6- Section Timeline
   */
  
  .timeline {
    position: relative;
  }
  
  .timeline .timeline-bar {
    content: "";
    width: 4px;
    opacity: 0.2;
    margin-left: -2px;
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
  }
  
  .timeline .timeline-inner {
    position: relative;
  }
  
  .timeline-box {
    width: 50%;
    color: #757575;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 25px;
    position: relative;
  }
  
  .timeline-box:last-child {
    margin-bottom: 0;
  }
  
  .timeline-box h3,
  .timeline-box h3 a {
    color: #414141;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .timeline-box h4 {
    color: #878787;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 20px;
  }
  
  .timeline-box .date {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .timeline-box-compact .date,
  .timeline-box-compact h3 {
    text-align: left;
  }
  
  .timeline-box-compact .timeline-box-header {
    text-align: center;
    margin-top: 20px;
  }
  
  .timeline-box-inner > * {
    text-align: center;
  }
  
  .timeline-box-compact .date span {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    display: inline-block;
    position: relative;
    padding: 5px 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  
  .logo-style {
    float: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .timeline-box-compact .date span:before {
    content: "";
    width: 0;
    height: 0;
    top: 100%;
    left: 5px;
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent;
  }
  
  .timeline-box-inner {
    padding: 20px 5%;
    position: relative;
    border-width: 5px 0 0 0;
    border-style: solid;
    text-align: center;
  }
  
  .timeline-box-left .dot,
  .timeline-box-right .dot {
    top: 80px;
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  
  .timeline-box-left .arrow,
  .timeline-box-right .arrow {
    top: 60px;
    width: 12px;
    height: 41px;
    display: block;
    position: absolute;
    background-image: url("img/arrows.png");
    background-repeat: no-repeat;
  }
  
  .timeline-box-left .arrow:before,
  .timeline-box-right .arrow:before {
    width: 0;
    height: 0;
    content: "";
    display: block;
  }
  
  .timeline-box-left {
    float: left;
    clear: left;
  }
  
  .timeline-box-left .timeline-box-inner {
    margin-right: 35px;
  }
  
  .timeline-box-left .timeline-box-inner .arrow {
    right: -12px;
    background-position: -18px 0;
  }
  
  .timeline-box-left .timeline-box-inner .arrow:before {
    margin-right: 2px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 10px solid #fff;
  }
  
  .timeline-box-left .dot {
    right: 0px;
    margin-right: -4px;
  }
  
  .timeline-box-right {
    float: right;
    clear: right;
  }
  
  .timeline-box-right .timeline-box-inner {
    margin-left: 35px;
  }
  
  .timeline-box-right .timeline-box-inner .arrow {
    left: -12px;
    background-position: 0 0;
  }
  
  .timeline-box-right .timeline-box-inner .arrow:before {
    margin-left: 2px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 10px solid #fff;
  }
  
  .timeline-box-right .dot {
    left: 0px;
    margin-left: -4px;
  }
  
  @media (max-width: 600px) {
    .timeline-box {
      width: 100%;
      float: none;
      margin-left: 0;
      margin-right: 0;
    }
    .timeline-box .timeline-box-inner {
      margin-left: 0;
      margin-right: 0;
    }
    .timeline-box .timeline-box-inner .arrow {
      display: none;
    }
    .timeline-box .dot {
      display: none;
    }
  }
  
  /**
   * 11.7 - Section References
   */
  
  .section-references .section-box {
    padding: 0 105px 0 25px;
    position: relative;
  }
  
  .ref-slider {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .ref-slider li {
    margin: 0;
    padding: 0;
  }
  
  .ref-slider-nav {
    position: absolute;
    right: 25px;
    top: 25px;
  }
  
  .ref-slider-nav .slider-prev,
  .ref-slider-nav .slider-next {
    display: block;
    width: 58px;
    height: 58px;
    margin-bottom: 8px;
  }
  
  .ref-slider-nav .slider-prev .icon,
  .ref-slider-nav .slider-next .icon {
    color: #3e4452;
    font-size: 30px;
    line-height: 58px;
  }
  
  .ref-slider-nav .slider-prev a,
  .ref-slider-nav .slider-next a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    border: 1px solid #d7dbde;
    -webkit-transition: box-shadow 0.3s ease-out;
    -moz-transition: box-shadow 0.3s ease-out;
    transition: box-shadow 0.3s ease-out;
  }
  
  .ref-slider-nav .slider-prev a:hover,
  .ref-slider-nav .slider-next a:hover {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  }
  
  .ref-box {
    padding: 55px 75px 40px 80px;
  }
  
  .ref-box .person-speech {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    position: relative;
    padding-bottom: 27px;
    border-bottom: 1px solid #dddad9;
  }
  
  .ref-box .person-speech p:last-child {
    margin-bottom: 0;
  }
  
  .ref-box .person-speech:before {
    content: "\e61c";
    top: 2px;
    left: -55px;
    position: absolute;
    font-size: 23px;
    line-height: 1;
  }
  
  .ref-box .person-info {
    padding-top: 25px;
  }
  
  .ref-box .person-img {
    width: 53px;
    float: left;
    display: block;
    margin-right: 22px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .ref-box .person-name-title {
    padding-top: 10px;
  }
  
  .ref-box .person-name {
    color: #757575;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
    display: block;
    margin-bottom: 3px;
  }
  
  .ref-box .person-title {
    color: #d0d0d0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
  }
  
  @media (max-width: 767px) {
    .ref-box {
      padding: 30px 0 30px 45px;
    }
    .ref-box .person-speech:before {
      left: -43px;
    }
  }
  
  @media (max-width: 480px) {
    .section-references .section-box {
      padding-right: 25px;
    }
    .ref-slider-nav .slider-prev,
    .ref-slider-nav .slider-next {
      display: none;
    }
    .ref-box {
      padding-top: 35px;
      padding-left: 0;
    }
    .ref-box .person-img {
      margin-right: 10px;
    }
    .ref-box .person-name {
      font-size: 15px;
    }
    .ref-box .ref-box .person-title {
      font-size: 11px;
    }
    .ref-box .person-speech {
      text-align: center;
    }
    .ref-box .person-speech:before {
      font-size: 15px;
      left: 50%;
      top: -20px;
    }
  }
  
  /**
   * 11.8 - Section Calendar
   */
  
  .calendar-busy {
    position: relative;
  }
  
  .calendar-busy .calendar-cont {
    padding: 35px 35px 0 35px;
    margin-left: 35%;
  }
  
  .calendar-busy .calendar-header {
    margin-bottom: 15px;
  }
  
  .calendar-busy .calendar-header:before,
  .calendar-busy .calendar-header:after {
    content: " ";
    display: table;
  }
  
  .calendar-busy .calendar-header:after {
    clear: both;
  }
  
  .calendar-busy .calendar-header {
    zoom: 1;
  }
  
  .calendar-busy .calendar-today {
    color: #fff;
    line-height: 1;
    font-weight: 300;
    position: absolute;
    left: 0;
    top: 0;
    width: 35%;
    height: 100%;
    text-align: center;
    background-size: cover;
    background-color: #242832;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .calendar-busy .calendar-today:after {
    z-index: 1;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(44, 51, 64, 0.8);
  }
  
  .calendar-busy .calendar-today .valign-outer {
    z-index: 2;
    position: relative;
  }
  
  .calendar-busy .calendar-today .date {
    position: relative;
    margin: 0 auto 13%;
    width: 53%;
    padding: 11% 5%;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
  }
  
  .calendar-busy .calendar-today .date:before,
  .calendar-busy .calendar-today .date:after {
    content: "";
    position: absolute;
    top: -6px;
    width: 3px;
    height: 12px;
    background-color: #fff;
    -webkit-border-radius: 38%;
    -moz-border-radius: 38%;
    border-radius: 38%;
  }
  
  .calendar-busy .calendar-today .date:before {
    left: 30%;
  }
  
  .calendar-busy .calendar-today .date:after {
    right: 30%;
  }
  
  .calendar-busy .calendar-today .day {
    font-size: 74px;
    display: block;
    margin-bottom: 8px;
  }
  
  .calendar-busy .calendar-today .month {
    display: block;
    font-size: 33px;
    letter-spacing: 0.2em;
  }
  
  .calendar-busy .calendar-today .week-day {
    font-size: 36px;
    letter-spacing: 0.08em;
  }
  
  .calendar-busy .calendar-nav {
    float: left;
    padding: 0 25px;
    position: relative;
    font-size: 16px;
    line-height: 1.1;
  }
  
  .calendar-busy .calendar-nav .active-date {
    color: #333333;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    overflow: hidden;
    width: 145px;
    text-align: center;
  }
  
  .calendar-busy .calendar-nav .active-month,
  .calendar-busy .calendar-nav .active-year {
    opacity: 1;
    display: inline-block;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
      opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -moz-transition: -moz-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
      opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
      opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }
  
  .calendar-busy .calendar-nav .active-month.moveup,
  .calendar-busy .calendar-nav .active-year.moveup {
    opacity: 0;
    -webkit-transform: translate3d(0px, -20px, 0px);
    -moz-transform: translate3d(0px, -20px, 0px);
    transform: translate3d(0px, -20px, 0px);
  }
  
  .calendar-busy .calendar-nav .active-month.movedown,
  .calendar-busy .calendar-nav .active-year.movedown {
    opacity: 0;
    -webkit-transform: translate3d(0px, 20px, 0px);
    -moz-transform: translate3d(0px, 20px, 0px);
    transform: translate3d(0px, 20px, 0px);
    -webkit-transition: -webkit-transform 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
      opacity 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -moz-transition: -moz-transform 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
      opacity 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transition: transform 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
      opacity 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }
  
  .calendar-busy .calendar-nav .active-month {
    margin-right: 7px;
  }
  
  .calendar-busy .calendar-nav .calendar-next,
  .calendar-busy .calendar-nav .calendar-prev {
    top: -5px;
    position: absolute;
    display: block;
    cursor: pointer;
  }
  
  .calendar-busy .calendar-nav .calendar-next {
    right: -3px;
  }
  
  .calendar-busy .calendar-nav .calendar-prev {
    left: -3px;
  }
  
  .calendar-busy .calendar-nav .icon {
    color: #cccccc;
    font-size: 26px;
  }
  
  .calendar-busy .calendar-body {
    border: none;
  }
  
  .calendar-busy .calendar-body th,
  .calendar-busy .calendar-body td {
    width: 14.2857%;
    border: none;
    text-align: center;
    vertical-align: middle;
  }
  
  .calendar-busy .calendar-body th {
    color: #757575;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    padding: 13px 5px;
  }
  
  .calendar-busy .calendar-body td {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0;
  }
  
  .calendar-busy .calendar-body td span {
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: block;
    margin: 0 auto;
  }
  
  .calendar-busy .calendar-body td .busy-day,
  .calendar-busy .calendar-body td .current-day {
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  
  .calendar-busy .calendar-body td .busy-day {
    background-color: #cacaca !important;
  }
  
  .calendar-busy .calendar-busy-note {
    color: #373b42;
    font-size: 12px;
    line-height: 1.25;
    border-top: 1px solid #e1e1e1;
    padding: 18px 0 18px 35px;
    margin: 0 12px;
    position: relative;
  }
  
  .calendar-busy .calendar-busy-note:before {
    content: "";
    position: absolute;
    left: 3px;
    top: 0;
    width: 14px;
    height: 14px;
    margin: 18px 0;
    background-color: #cacaca;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  
  .calendar-busy .calendar-body {
    overflow: hidden;
  }
  
  .calendar-busy .calendar-tbody {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
      opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }
  
  .calendar-busy .calendar-tbody.moveright {
    opacity: 0;
    transform: translate3d(-50px, 0px, 0px);
  }
  
  .calendar-busy .calendar-tbody.moveleft {
    opacity: 0;
    transform: translate3d(50px, 0px, 0px);
    transition: transform 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
      opacity 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }
  
  @media (max-width: 767px) {
    .calendar-busy .calendar-body th {
      font-size: 11px;
    }
    .calendar-busy .calendar-body td {
      font-size: 14px;
    }
    .calendar-busy .calendar-today {
      width: 40%;
    }
    .calendar-busy .calendar-today .date {
      width: 63%;
    }
    .calendar-busy .calendar-today .week-day {
      font-size: 29px;
    }
    .calendar-busy .calendar-cont {
      margin-left: 40%;
      padding-left: 17px;
      padding-right: 17px;
    }
  }
  
  @media (max-width: 480px) {
    .calendar-busy .calendar-nav {
      float: none;
      text-align: center;
    }
    .calendar-busy .calendar-today {
      position: relative;
      left: auto;
      top: auto;
      width: 100%;
      height: auto;
      padding: 20px 15px;
    }
    .calendar-busy .calendar-today .date {
      padding: 0;
      background: none !important;
      margin-bottom: 15px;
    }
    .calendar-busy .calendar-today .date:before,
    .calendar-busy .calendar-today .date:after {
      display: none;
    }
    .calendar-busy .calendar-today .day,
    .calendar-busy .calendar-today .month {
      display: inline-block;
      font-size: 45px;
      letter-spacing: 0;
      margin: 0 5px;
    }
    .calendar-busy .calendar-today .week-day {
      font-size: 25px;
    }
    .calendar-busy .calendar-cont {
      margin-left: 0;
    }
  }
  
  /**
   * 11.9 - Section Contact
   */
  
  .contact-info.section-box {
    padding: 0;
  }
  
  .contact-info.has-map {
    position: relative;
    padding-bottom: 266px;
  }
  
  .contact-info iframe {
    display: block;
  }
  
  .contact-info .contact-list {
    list-style: none;
    padding: 45px 35px 30px;
    margin: 0;
  }
  
  .contact-info .contact-list li {
    margin-bottom: 10px;
  }
  
  .contact-info .contact-list strong,
  .contact-info .contact-list span {
    display: block;
  }
  
  .contact-info .contact-list strong {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    width: 85px;
    float: left;
  }
  
  .contact-info .contact-list span {
    font-size: 16px;
    font-weight: 400;
    margin-left: 90px;
  }
  
  .contact-info .contact-list a {
    color: inherit;
    -webkit-transition: opacity 0.15s linear 0s;
    -moz-transition: opacity 0.15s linear 0s;
    transition: opacity 0.15s linear 0s;
  }
  
  .contact-info .contact-list a:hover {
    opacity: 0.6;
    text-decoration: none;
  }
  
  .contactForm h3 {
    font-size: 20px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 42px;
  }
  
  .contactForm.section-box {
    padding: 45px 35px 25px 35px;
  }
  
  #map {
    width: 100%;
    height: 266px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  
  #map .map-icon {
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    white-space: nowrap;
  }
  
  @media (max-width: 767px) {
    .contact-form {
      margin-bottom: 35px;
    }
    .contactForm.section-box,
    .contact-info .contact-list {
      padding: 30px 25px;
    }
  }
  
  @media (max-width: 480px) {
    .contact-info .contact-list dt,
    .contact-info .contact-list dd {
      width: 100%;
      float: none;
    }
    .contact-info .contact-list dt {
      margin-bottom: 0;
    }
    .contact-info .contact-list dd {
      margin-left: 0;
    }
  }
  
  /**
   * 11.10 - Section Prices
   */
  
  .section-prices .section-box {
    padding: 0;
  }
  
  .section-prices .row {
    margin-left: 0;
    margin-right: 0;
  }
  
  .section-prices div[class^="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
  
  .price-list {
    margin-bottom: 25px;
  }
  
  .price-box {
    text-align: center;
    position: relative;
    z-index: 0;
  }
  
  .price-box .btn-wrap {
    position: absolute;
    left: 0;
    bottom: 35px;
    width: 100%;
    text-align: center;
  }
  
  .price-box-top {
    color: #fff;
    font-weight: 300;
    padding: 23px 20px;
    background-color: #373b42;
    position: relative;
  }
  
  .price-box-top:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 7px solid #373b42;
    position: absolute;
    left: 50%;
    margin-left: -11px;
    bottom: -7px;
  }
  
  .price-box-top span,
  .price-box-top small {
    margin: 0 5px;
    display: inline-block;
  }
  
  .price-box-top span {
    font-size: 45px;
  }
  
  .price-box-top small {
    font-size: 18px;
  }
  
  .price-box-content {
    color: #818181;
    font-size: 16px;
    line-height: 1.2;
    padding: 50px 20px 100px 20px;
  }
  
  .price-box-content h3 {
    color: #373b42;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  
  .price-box-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .price-box-content li {
    margin-bottom: 20px;
  }
  
  .price-box-content .new {
    color: #fff;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    padding: 0 6px;
    margin-left: 5px;
    background-color: #f44459;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
  
  .box-primary {
    z-index: 1;
  }
  
  .box-primary .price-box-content .btn {
    color: #fff !important;
  }
  
  @media (max-width: 767px) {
    .price-list {
      margin-bottom: 0;
    }
    .price-list .col-sm-4 .price-box {
      margin-bottom: 25px;
    }
    .price-list .col-sm-4:last-child .price-box {
      margin-bottom: 0;
    }
  }
  
  /**
   * 11.11 - Section Clients
   */
  
  .section-clients .client-logo {
    text-align: center;
    line-height: 60px;
  }
  
  .section-clients .client-logo img {
    max-width: 100%;
    max-height: 60px;
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -webkit-transition: all 0.15s linear 0s;
    -moz-transition: all 0.15s linear 0s;
    transition: all 0.15s linear 0s;
  }
  
  .section-clients .client-logo a,
  .section-clients .client-logo img {
    display: inline-block;
  }
  
  .section-clients .client-logo > a,
  .section-clients .client-logo > img {
    max-width: 75%;
  }
  
  .section-clients .client-logo > a:hover img,
  .section-clients .client-logo > img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
  }
  
  /**
   * 12.0 - Blog
   */
  
  .section-blog .section-title {
    margin-bottom: 0;
  }
  
  .section-blog .grid-item {
    margin-bottom: 0 !important;
    margin-top: 25px;
  }
  
  /**
   * 12.1 - Blog General
   */
  
  .post-title {
    color: #373b42;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .post-info {
    font-size: 13px;
    line-height: 1.3;
  }
  
  .post-info a {
    color: #757575 !important;
    margin-right: 20px;
  }
  
  .post-info a:last-child {
    margin-right: 0;
  }
  
  .post-info .icon {
    color: #ccc;
    margin-right: 10px;
  }
  
  .post-datetime {
    width: 58px;
    height: 58px;
    color: #fff;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 20px;
    padding-top: 11px;
    display: block;
  }
  
  .post-datetime .day {
    font-size: 20px;
    margin-bottom: 2px;
  }
  
  .post-datetime .month {
    font-size: 13px;
  }
  
  .post-datetime span {
    display: block;
  }
  
  .post-tag {
    font-size: 11px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 26px;
  }
  
  .post-tag a {
    color: #757575 !important;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 3px;
  }
  
  .post-data {
    text-align: center;
  }
  
  .post-embed {
    width: 100%;
    height: 0;
    padding: 57% 0 0 0;
    display: block;
    overflow: hidden;
    position: relative;
  }
  
  .post-embed-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  
  .post-slider {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .post-slider img {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    transition: opacity 1s;
  }
  
  .post-slider-arrows {
    top: 100px;
    right: 30px;
    position: absolute;
  }
  
  .post-slider-arrows a,
  .post-slider-arrows .icon {
    width: 100%;
    height: 100%;
    line-height: 37px;
  }
  
  .post-slider-arrows a {
    display: block;
    text-align: center;
    width: 37px;
    height: 37px;
    margin-bottom: 8px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: background-color 0.15s linear 0s;
    -moz-transition: background-color 0.15s linear 0s;
    transition: background-color 0.15s linear 0s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  
  .post-slider-arrows a:hover {
    text-decoration: none;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .post-slider-arrows .icon {
    color: #fff;
    font-size: 25px;
    display: block;
  }
  
  /**
   * 12.2 - Blog Post Box
   */
  
  .blog-grid {
    margin-left: -12px;
    margin-right: -12px;
  }
  
  .blog-grid:before,
  .blog-grid:after {
    content: " ";
    display: table;
  }
  
  .blog-grid:after {
    clear: both;
  }
  
  .blog-grid {
    zoom: 1;
  }
  
  .blog-grid .grid-item,
  .blog-grid .grid-sizer {
    width: 50%;
  }
  
  .blog-grid .grid-sizer {
    height: 0;
    visibility: hidden;
  }
  
  .blog-grid .grid-item {
    float: left;
    padding: 0 12px;
    margin-bottom: 25px;
  }
  
  .post-box .post-title a,
  .post-single .post-title a {
    color: inherit;
    -webkit-transition: color 0.15s linear 0s;
    -moz-transition: color 0.15s linear 0s;
    transition: color 0.15s linear 0s;
  }
  
  .post-box .post-title a:hover,
  .post-single .post-title a:hover {
    text-decoration: none;
  }
  
  .post-box {
    position: relative;
    background-color: #fff;
    -webkit-transition: box-shadow 0.15s linear 0s;
    -moz-transition: box-shadow 0.15s linear 0s;
    transition: box-shadow 0.15s linear 0s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .post-box .post-type-icon {
    left: 20px;
    bottom: 20px;
    width: 70px;
    height: 44px;
    display: block;
    position: absolute;
    text-align: center;
    background-color: #202734;
    background-color: rgba(32, 39, 52, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .post-box .post-type-icon .icon {
    color: #fff;
    line-height: 44px;
    font-size: 20px;
    display: block;
  }
  
  .post-box .post-media {
    overflow: hidden;
    position: relative;
    background-color: #2c3340;
  }
  
  .post-box .post-media.no-media {
    padding-top: 58px;
    background-color: #f7f7f7;
  }
  
  .post-box .post-media img {
    width: 100%;
    height: auto;
    opacity: 0.8;
    display: block;
    position: relative;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .post-box .post-data {
    padding: 25px 25px 35px 25px;
  }
  
  .post-box .post-image img {
    -webkit-transition: opacity 1s, transform 1s;
    -moz-transition: opacity 1s, transform 1s;
    transition: opacity 1s, transform 1s;
  }
  
  .post-box:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
  }
  
  .post-box:hover .post-slider img {
    opacity: 1;
  }
  
  .post-box:hover .post-image img {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    -moz-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  
  @media (max-width: 668px) {
    .blog-grid {
      margin-left: 0;
      margin-right: 0;
    }
    .blog-grid .grid-item,
    .blog-grid .grid-sizer {
      width: 100%;
    }
    .blog-grid .grid-item {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  /**
   * 12.3 - Post Page
   */
  
  .post-single .post-title-wrap {
    position: relative;
  }
  
  .post-single .post-datetime {
    top: 0;
    left: -60px;
  }
  
  .post-single .post-media {
    position: relative;
  }
  
  .post-single .post-media img {
    width: 100%;
    display: block;
  }
  
  .post-single .post-slider-arrows {
    top: auto;
    bottom: 40px;
  }
  
  .post-single .post-content {
    padding: 0;
    margin-bottom: 30px;
  }
  
  .post-single .post-inner {
    padding: 0 50px 40px;
  }
  
  .post-single .post-header {
    position: relative;
    padding-top: 30px;
    margin-bottom: 40px;
  }
  
  .post-single .post-footer {
    margin-top: 10px;
  }
  
  .post-single .post-audio-wrap {
    padding: 25px 20px;
    background-color: #f7f7f7;
  }
  
  .post-single .post-comments {
    padding-top: 0;
  }
  
  .post-pagination {
    margin-bottom: 50px;
    padding: 0;
  }
  
  .post-pagination .post-next,
  .post-pagination .post-prev {
    padding: 30px 50px;
  }
  
  .post-pagination .post-next {
    border-bottom: 1px solid #ccc;
  }
  
  .post-pagination .post-tag {
    font-size: 12px;
  }
  
  .post-pagination .post-title {
    margin-bottom: 15px;
  }
  
  /**
   * 12.4 - Post Comments
   */
  
  .post-comments {
    padding-top: 70px;
  }
  
  .post-comments .section-title {
    font-size: 26px;
    text-align: left;
  }
  
  .post-comments .section-box {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  
  .post-comments .section-title,
  .post-comments .section-box {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .comment-list,
  .comment-list ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .comment-list .comment-avatar {
    width: 64px;
    height: 64px;
    float: left;
    display: block;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.17);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  
  .comment-list .comment-avatar img {
    width: 100%;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  
  .comment-list .comment-meta {
    padding-bottom: 15px;
    margin-bottom: 10px;
    position: relative;
  }
  
  .comment-list .comment-meta:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 65px;
    height: 1px;
    background-color: #ccc;
  }
  
  .comment-list .comment-meta .name {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 5px;
    display: block;
  }
  
  .comment-list .comment-meta .date {
    color: #757575;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.1;
    display: inline-block;
    margin-right: 5px;
  }
  
  .comment-list .comment-meta .reply-link {
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
  }
  
  .comment-list .comment-content {
    margin-left: 90px;
  }
  
  .comment-list .comment {
    margin-bottom: 40px;
  }
  
  .comment-list .comment:last-child {
    margin-bottom: 0;
  }
  
  .comment-list .comment .comment {
    margin-top: 20px;
    margin-left: 55px;
  }
  
  .comment-reply {
    margin-top: 45px;
  }
  
  .comment-reply .input-field label {
    text-transform: none;
    color: #9a9a9a;
  }
  
  @media (max-width: 767px) {
    .comment .comment {
      margin-left: 35px;
    }
    .comment .comment-avatar {
      width: 40px;
      height: 40px;
    }
    .comment .comment-content {
      margin-left: 60px;
    }
  }
  
  @media (max-width: 480px) {
    .comment-list .comment .comment {
      margin-left: 0;
    }
  }
  
  /**
   * 13.0 - Error Page
   */
  
  .header-has-img .page-404 {
    margin-top: 170px;
  }
  
  .page-404 {
    color: #000000;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    padding: 50px 0;
  }
  
  .page-404 p {
    margin-bottom: 60px;
  }
  
  .page-404 h2 {
    color: #d1d1d1;
    font-size: 170px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 40px;
  }
  
  .page-404 h2 span {
    margin: 0 10px;
    position: relative;
    display: inline-block;
  }
  
  .page-404 h2 span:before {
    content: "";
    width: 0;
    height: 0;
    left: 50%;
    bottom: 5px;
    display: block;
    margin-left: -10px;
    position: absolute;
    border-style: solid;
    border-width: 0px 0px 15px 17px;
    border-color: transparent;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  
  .page-404 .btn {
    color: #a7a7a7 !important;
    width: 100%;
    max-width: 256px;
    display: block;
    margin: 0 auto;
  }
  
  @media (max-width: 480px) {
    .page-404 {
      font-size: 25px;
    }
    .page-404 h2 {
      font-size: 120px;
    }
  }
  
  /**
   * 14.0 - Footer
   */
  
  .footer-social {
    padding: 30px 0;
  }
  
  .footer-social .social li a .icon {
    color: #d7d7d7;
    -webkit-transition: -webkit-transition, color 0.25s linear 0s;
    -moz-transition: -moz-transition, color 0.25s linear 0s;
    transition: transition, color 0.25s linear 0s;
  }
  
  .footer-social .social li a:hover .icon {
    color: #6e6e6e;
  }
  
  @media (max-width: 767px) {
    .footer {
      padding-bottom: 30px;
    }
  }
  
  /**
   * 15.0 - Theme dark
   */
  
  .theme-skin-dark body {
    color: #9c9c9c;
    background-color: #27292e;
  }
  
  .theme-skin-dark hr {
    background-color: #302f32;
  }
  
  .theme-skin-dark table,
  .theme-skin-dark th,
  .theme-skin-dark td {
    border-color: #515056;
  }
  
  .theme-skin-dark .section-title {
    color: #7c7d82;
  }
  
  .theme-skin-dark .grid-box,
  .theme-skin-dark .post-box,
  .theme-skin-dark .price-box,
  .theme-skin-dark .section-box,
  .theme-skin-dark .calendar-busy,
  .theme-skin-dark .timeline-box-inner {
    background-color: #35363b;
  }
  
  .theme-skin-dark #preloader {
    background-color: #35363b;
  }
  
  .theme-skin-dark ::-webkit-input-placeholder {
    color: #8f9094;
  }
  
  .theme-skin-dark :-moz-placeholder {
    color: #8f9094;
  }
  
  .theme-skin-dark ::-moz-placeholder {
    color: #8f9094;
    opacity: 1;
  }
  
  .theme-skin-dark :-ms-input-placeholder {
    color: #8f9094;
  }
  
  .theme-skin-dark select,
  .theme-skin-dark textarea,
  .theme-skin-dark input[type="tel"],
  .theme-skin-dark input[type="text"],
  .theme-skin-dark input[type="email"],
  .theme-skin-dark input[type="search"],
  .theme-skin-dark input[type="password"] {
    color: #9c9c9c;
    border-color: #56565e;
  }
  
  .theme-skin-dark .input-field input,
  .theme-skin-dark .input-field textarea {
    border-bottom-color: #1f2125;
  }
  
  .theme-skin-dark .input-field label {
    color: #9c9c9c;
  }
  
  .theme-skin-dark .section-box .input-field input,
  .theme-skin-dark .section-box .input-field textarea {
    border-bottom-color: #474d56;
  }
  
  .theme-skin-dark .section-box .input-field label {
    color: #9c9c9c;
  }
  
  .theme-skin-dark blockquote cite:before {
    background-color: #4d4c51;
  }
  
  .theme-skin-dark blockquote cite,
  .theme-skin-dark blockquote small {
    color: #99999b;
  }
  
  .theme-skin-dark .btn-border {
    color: #9d9ea2 !important;
    border-color: #474d56;
  }
  
  .theme-skin-dark .btn-primary {
    color: #35363b;
  }
  
  .theme-skin-dark .ripple-effect {
    background-color: rgba(255, 255, 255, 0.15);
  }
  
  .theme-skin-dark .btn-scroll-top {
    border: 1px solid #2b2e35;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.02);
  }
  
  .theme-skin-dark .btn-scroll-top:hover {
    background-color: #2e3035;
  }
  
  .theme-skin-dark .btn-scroll-top .icon {
    color: #2b2e35;
    color: rgba(0, 0, 0, 0.2);
  }
  
  .theme-skin-dark .rs-icons-list li {
    border-color: #35363b;
  }
  
  .theme-skin-dark .social li a .icon {
    color: #27292e;
  }
  
  .theme-skin-dark .mejs-container .mejs-controls {
    background-color: #1b1b1d;
  }
  
  .theme-skin-dark .mejs-container .mejs-controls:before,
  .theme-skin-dark .mejs-container .mejs-controls:after {
    background-color: #27292e;
  }
  
  .theme-skin-dark .mejs-container .mejs-controls .mejs-playpause-button {
    border-left: 1px solid #27292e;
    border-right: 1px solid #27292e;
  }
  
  .theme-skin-dark .mejs-container .mejs-controls .mejs-volume-button {
    border-left: 1px solid #27292e;
  }
  
  .theme-skin-dark .mejs-container .mejs-controls .mejs-fullscreen-button,
  .theme-skin-dark .mejs-container .mejs-controls .mejs-horizontal-volume-slider {
    border-right: 1px solid #27292e;
  }
  
  .theme-skin-dark .mejs-container .mejs-controls .mejs-time {
    color: #4e4e50;
  }
  
  .theme-skin-dark
    .mejs-container
    .mejs-controls
    .mejs-time-rail
    .mejs-time-total {
    background-color: #3b3c40;
  }
  
  .theme-skin-dark
    .mejs-container
    .mejs-controls
    .mejs-time-rail
    .mejs-time-loaded {
    background-color: #737780;
  }
  
  .theme-skin-dark .btn-sidebar-close .icon {
    color: #35363b;
  }
  
  .theme-skin-dark .sidebar-fixed {
    background-color: #2d2d35;
  }
  
  .theme-skin-dark .widget-profile,
  .theme-skin-dark .widget-recent-posts li,
  .theme-skin-dark .widget-popuplar-posts li,
  .theme-skin-dark .widget_meta ul li,
  .theme-skin-dark .widget_archive ul li,
  .theme-skin-dark .widget_nav_menu ul li,
  .theme-skin-dark .widget_categories ul li,
  .theme-skin-dark .widget_recent_entries ul li,
  .theme-skin-dark .widget_recent_comments ul li,
  .theme-skin-dark .widget_calendar thead th,
  .theme-skin-dark .widget_calendar tfoot td {
    border-color: #1f2125;
  }
  
  .theme-skin-dark .widget_meta ul li,
  .theme-skin-dark .widget_archive ul li,
  .theme-skin-dark .widget_nav_menu ul li,
  .theme-skin-dark .widget_categories ul li,
  .theme-skin-dark .widget_recent_entries ul li,
  .theme-skin-dark .widget_recent_comments ul li {
    color: #57575f;
  }
  
  .theme-skin-dark .widget_meta ul li a,
  .theme-skin-dark .widget_archive ul li a,
  .theme-skin-dark .widget_nav_menu ul li a,
  .theme-skin-dark .widget_categories ul li a,
  .theme-skin-dark .widget_recent_entries ul li a,
  .theme-skin-dark .widget_recent_comments ul li a {
    color: #9d9ea2;
  }
  
  .theme-skin-dark .widget_calendar caption {
    color: #97989c;
  }
  
  .theme-skin-dark .widget_calendar td {
    color: #57585d;
  }
  
  .theme-skin-dark .widget_tag_cloud a {
    color: #56565e;
    border-color: #56565e;
  }
  
  .theme-skin-dark .widget_tag_cloud a:hover {
    color: #201f27 !important;
  }
  
  .theme-skin-dark .widget-profile .profile-title,
  .theme-skin-dark .widget-profile .profile-position {
    color: #d4d4d5;
  }
  
  .theme-skin-dark .head-bar,
  .theme-skin-dark .header-has-img .head-sticky.head-bar {
    background-color: #27292e;
  }
  
  .theme-skin-dark .nav-wrap .nav > ul > li > a,
  .theme-skin-dark .header-has-img .head-sticky .nav-wrap .nav > ul > li > a {
    color: #9a9da2;
  }
  
  .theme-skin-dark .nav-wrap .btn-mobile-nav,
  .theme-skin-dark .nav-wrap .btn-sidebar-open,
  .theme-skin-dark .header-has-img .head-sticky .nav-wrap .btn-mobile-nav,
  .theme-skin-dark .header-has-img .head-sticky .nav-wrap .btn-sidebar-open {
    border-color: #4d4c51;
  }
  
  .theme-skin-dark .nav-wrap .btn-mobile-nav .icon,
  .theme-skin-dark .nav-wrap .btn-sidebar-open .icon,
  .theme-skin-dark .header-has-img .head-sticky .nav-wrap .btn-mobile-nav .icon,
  .theme-skin-dark
    .header-has-img
    .head-sticky
    .nav-wrap
    .btn-sidebar-open
    .icon {
    color: #9a9da2;
  }
  
  .theme-skin-dark .nav-wrap .nav > ul > li ul {
    background-color: #212026;
  }
  
  .theme-skin-dark .nav-wrap .nav > ul > li ul a {
    color: #fff;
  }
  
  .theme-skin-dark .nav-wrap .nav > ul > li ul a:hover {
    background-color: #27292e;
  }
  
  .theme-skin-dark .header-has-img .head-bar {
    background-color: transparent;
  }
  
  .theme-skin-dark .header-has-img .nav-wrap .nav > ul > li > a {
    color: #fff;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .theme-skin-dark .header-has-img .nav-wrap .btn-mobile-nav,
  .theme-skin-dark .header-has-img .nav-wrap .btn-sidebar-open {
    border-color: #4f5159;
  }
  
  .theme-skin-dark .header-has-img .nav-wrap .btn-mobile-nav .icon,
  .theme-skin-dark .header-has-img .nav-wrap .btn-sidebar-open .icon {
    color: #fff;
  }
  
  .theme-skin-dark .profile-preword span,
  .theme-skin-dark .timeline-box-compact .date span,
  .theme-skin-dark .profile-list .button {
    color: #27292e;
  }
  
  .theme-skin-dark .section-about .profile-info {
    color: #d4d4d5;
    border-color: #47494c;
  }
  
  .theme-skin-dark .profile-list .title {
    color: #d4d4d5;
  }
  
  .theme-skin-dark .profile-list .cont {
    color: #84898e;
  }
  
  .theme-skin-dark .section-txt-btn {
    color: #ffffff;
  }
  
  .theme-skin-dark .profile-line {
    background-color: #222227;
  }
  
  .theme-skin-dark .interests-list li {
    border-color: #47494c;
  }
  
  .theme-skin-dark .interests-list li span {
    background-color: #222227;
  }
  
  .theme-skin-dark .filter-bar {
    background-color: #1f1f23;
  }
  
  .theme-skin-dark .filter button {
    color: #9a9b9d;
  }
  
  .theme-skin-dark .timeline-box-left .timeline-box-inner .arrow:before {
    border-left-color: #35363b;
  }
  
  .theme-skin-dark .timeline-box-right .timeline-box-inner .arrow:before {
    border-right-color: #35363b;
  }
  
  .theme-skin-dark .timeline-box,
  .theme-skin-dark .timeline-box h4 {
    color: #7f8082;
  }
  
  .theme-skin-dark .timeline-box h3 {
    color: #bbbbbb;
  }
  
  .theme-skin-dark .ref-box .person-speech {
    border-bottom-color: #474d56;
  }
  
  .theme-skin-dark .ref-slider-nav .slider-prev a,
  .theme-skin-dark .ref-slider-nav .slider-next a {
    border-color: #474d56;
  }
  
  .theme-skin-dark .ref-slider-nav .slider-prev a .icon,
  .theme-skin-dark .ref-slider-nav .slider-next a .icon {
    color: #919296;
  }
  
  .theme-skin-dark .ref-box .person-name {
    color: #c7c8ca;
  }
  
  .theme-skin-dark .ref-box .person-title {
    color: #525458;
  }
  
  .theme-skin-dark .calendar-busy .calendar-nav .icon {
    color: #525458;
  }
  
  .theme-skin-dark .calendar-busy .calendar-nav .active-date {
    color: #d4d4d5;
  }
  
  .theme-skin-dark .calendar-busy .calendar-body th {
    color: #525458;
  }
  
  .theme-skin-dark .calendar-busy .calendar-body td {
    color: #9c9c9c;
  }
  
  .theme-skin-dark .calendar-busy .calendar-body td .busy-day {
    color: #d4d4d5;
    background-color: #474d56 !important;
  }
  
  .theme-skin-dark .calendar-busy .calendar-busy-note {
    color: #9c9c9c;
    border-top-color: #474d56;
  }
  
  .theme-skin-dark .calendar-busy .calendar-busy-note:before {
    background-color: #474d56;
  }
  
  .theme-skin-dark .contact-form h3 {
    color: #d4d4d5;
  }
  
  .theme-skin-dark .contact-map .contact-info dt {
    color: #d4d4d5;
  }
  
  .theme-skin-dark .contact-map .contact-info dd {
    color: #757677;
  }
  
  .theme-skin-dark .price-box-top {
    background-color: #474d56;
  }
  
  .theme-skin-dark .price-box-top:before {
    border-top-color: #474d56;
  }
  
  .theme-skin-dark .price-box-content h3 {
    color: #c7c8ca;
  }
  
  .theme-skin-dark .post-tag a,
  .theme-skin-dark .post-info a,
  .theme-skin-dark .post-info .icon {
    color: #9c9c9c !important;
  }
  
  .theme-skin-dark .post-title {
    color: #d4d4d5;
  }
  
  .theme-skin-dark .post-box .post-media.no-media,
  .theme-skin-dark .post-single .post-audio-wrap {
    background-color: #2e3035;
  }
  
  .theme-skin-dark .post-pagination .post-next {
    border-color: #302f32;
  }
  
  .theme-skin-dark .comment-list .comment-meta:after {
    background-color: #4d4c51;
  }
  
  .theme-skin-dark .comment-list .comment-meta .name {
    color: #99989d;
  }
  
  .theme-skin-dark .comment-list .comment-meta .date {
    color: #605e65;
  }
  
  .theme-skin-dark .pagination .page-numbers {
    color: #9c9c9c;
  }
  
  .theme-skin-dark .pagination .page-numbers:hover,
  .theme-skin-dark .pagination .page-numbers.next:hover,
  .theme-skin-dark .pagination .page-numbers.prev:hover {
    background-color: #35363b;
  }
  
  .theme-skin-dark .page-404 {
    color: #fff;
  }
  
  .theme-skin-dark .page-404 h2 {
    color: #5d5e62;
  }
  
  .theme-skin-dark .footer-social .social li a .icon {
    color: #1c1c1f;
  }
  
  /**
   * 16.0 - Old Browsers
   */
  
  .no-csstransforms #preloader .preload-icon,
  .no-cssanimations #preloader .preload-icon {
    display: none;
  }
  
  .no-csstransforms #preloader .preload-text,
  .no-cssanimations #preloader .preload-text {
    top: 50%;
    left: 0;
    width: 100%;
    height: 20px;
    position: absolute;
    text-align: center;
    display: block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
  }
  
  .no-csstransforms .sidebar-fixed {
    right: -450px;
  }
  
  .no-csstransforms .sidebar-opened .sidebar-fixed {
    right: 0;
  }
  
  .no-csstransforms .mobile-nav {
    right: -300px;
  }
  
  .no-csstransforms .mobile-nav-opened .mobile-nav {
    right: 0;
  }
  
  .no-opacity .bar-line:after {
    background-color: #dedede !important;
    opacity: 1;
  }
  
  .no-opacity.theme-skin-dark .bar-line:after {
    background-color: #525458 !important;
    opacity: 1;
  }
  
  .no-opacity .portfolio-figure .portfolio-caption {
    display: none;
  }
  
  .no-opacity .portfolio-figure:hover .portfolio-caption {
    display: block;
  }
  
  .no-boxshadow .nav-wrap .nav > ul > li ul,
  .no-boxshadow .grid-box,
  .no-boxshadow .post-box,
  .no-boxshadow .section-box,
  .no-boxshadow .calendar-busy,
  .no-boxshadow .sidebar-default .profile-photo img {
    border: 1px solid #dedede;
  }
  
  .no-boxshadow .timeline-box-inner {
    border: 1px solid #dedede !important;
  }
  
  .no-boxshadow.theme-skin-dark .nav-wrap .nav > ul > li ul,
  .no-boxshadow.theme-skin-dark .grid-box,
  .no-boxshadow.theme-skin-dark .post-box,
  .no-boxshadow.theme-skin-dark .section-box,
  .no-boxshadow.theme-skin-dark .calendar-busy,
  .no-boxshadow.theme-skin-dark .sidebar-default .profile-photo img {
    border: 1px solid #525458;
  }
  
  .no-boxshadow.theme-skin-dark .timeline-box-inner {
    border: 1px solid #525458 !important;
  }
  
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }
  
  /* Modal Content */
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .job-title {
    color: #1a77d4;
    font-weight: 700;
    line-height: 1.1;
    padding-bottom: 25px;
    text-transform: uppercase;
  }
  
  .title-info {
    color: #757575;
  }
  
  .info {
    color: #000000;
  }
  
  .li-info .title-info {
    display: inline-block;
  }
  
  .list-icon {
    margin-top: 10px;
    display: inline-block;
  }
  
  .list-icon > li {
    display: inline-block;
  }
  
  .list-icon .item-icon {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 5px 0 5px;
  }
  
  #education .timeline .timeline-bar {
    height: 70px !important;
  }
  